<div class="robot ">
    <img src="{{details.robotimg}}" alt="robot" class="mb-1 d-block cardmainimage" />
    <div class="cardcontent d-flex align-items-center justify-content-around">
        <div class="align-items-center d-inline-flex justify-content-between">
            <img src="{{details.robotimg}}" alt="robot" class="mb-1 d-block cardinnerimage" />
            <span class="subtitle bold">{{details.model}}</span>
        </div>
        <div class="innercontent">
            <p class="m-0 f-11">Manufacturer Name:</p>
            <p class="m-0 name f-14">{{details.manufacturename}}</p>
        </div>
    </div>
    <div class="cardfooter d-flex align-items-center justify-content-between">
        <div class="d-flex align-items-center justify-content-between flex">
            <div class="d-flex">
                <p class="m-0 d-flex flex-column pr-30">
                    <span class="d-block f-13">Reach</span>
                    <span class="d-block bold f-14">{{details.reach}}</span>
                </p>
                <p class="m-0 d-flex flex-column mx-3 reachspan">
                    <span class="d-block f-13">Payload</span>
                    <span class="d-block bold f-14">{{details.payload}}</span>
                </p>
            </div>
        </div>
        <div>
            <input type="radio" name="selected" id="selected" class="radiobtn" (change) ="robotSelected()">
        </div>
    </div>

    <div class="viewgripper" *ngIf="isAdmin">
        <span class="col-xl-12 col-sm-12 col-xs-12 f-12  cursorpointer aligntext">
                <label class="f-13 cursorpointer">View Gripper</label> 
                <mat-icon class="material-icons-outlined viewgrprhead cursorpointer" alt="forward">
                    arrow_forward
                </mat-icon>
        </span>
    </div>
</div>