<div class="robot">
    <img src="{{details.robotimg}}" alt="robot" class="mb-1 d-block cardmainimage" />
    <div class="cardcontent d-flex align-items-center justify-content-around">
        <div class="align-items-center d-inline-flex justify-content-between">
            <img src="{{details.robotimg}}" alt="robot" class="mb-1 d-block cardinnerimage" />
            <span class="subtitle">{{details.model}}</span>
        </div>
        <div class="innercontent">
            <p class="m-0">Manufacturer Name:</p>
            <p class="m-0 name">{{details.manufacturename}}</p>
        </div>
    </div>
    <div class="cardfooter d-flex align-items-center justify-content-between">
        <div class="d-flex align-items-center justify-content-between flex">
             <div class="d-flex">
                 <p class="m-0 d-flex flex-column">
                     <span class="d-block">Reach</span>
                     <span class="d-block fw-bold">{{details.reach}}</span>
                 </p>
                 <p class="m-0 d-flex flex-column mx-3">
                    <span class="d-block">Payload</span>
                    <span class="d-block fw-bold">{{details.payload}}</span>
                </p>
             </div>
        </div>
        <div>
            <input type="radio" name="selected" id="selected">
        </div>
    </div>
</div>