<div class="grid-container" id="grippercontainer">
    <div class="grid-header">
        <app-header></app-header>
    </div>
    <div class="grid-main">
        <div class="inner-wrapper">
            <div class="sidebar">
                <app-sidebar></app-sidebar>
            </div>
            <div class="maincontent">
                <div id="grippercontainer" class="wrappercontainer ">
                    <h2 class="bold f-16 mt-20 mb-30 pl-10">Upload CAD model of the Enviroment and Bin</h2>

                    <div class="col-xl-12 col-sm-12 col-xs-12 mb-30 height">
                        <div class="col-xl-6 col-sm-6 col-xs-12 floatleft">
                            <div class="col-xl-12 col-sm-12 col-xs-12 pt-0 pl-10 pr-10">
                                <div class="col-xl-12 col-sm-12 col-xs-12 f-14 bold mb-10">
                                    Upload Enviroment
                                </div>
                                <div class="col-xl-12 col-sm-12 col-xs-12 f-14 mb-10">
                                    Only <b>.stl</b> file format accept
                                </div>
                                <div class="col-xl-12 col-sm-12 col-xs-12">
                                    <div class="col-xl-12 col-sm-12 col-xs-12  bgwhite">
                                        <div class="col-xl-12 col-sm-12 col-xs-12 floatleft f-14 flexCenter"> Drag and drop ﬁle here or </div>
                                        <div class="col-xl-12 col-sm-12 col-xs-12 floatleft f-14 flexCenter color">

                                            Click here to upload </div>
                                        <label class="image-upload-container btn btn-bwm">
                                                <span class="uploadbtn">  
                                                    <input  Input
                                                    type="file"
                                                    accept="image/*" >
                                                    Select Image</span>
                                              
                                              </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-sm-6 col-xs-12 floatleft">
                            <div class="col-xl-12 col-sm-12 col-xs-12 pt-0 pl-10 pr-10">
                                <div class="col-xl-12 col-sm-12 col-xs-12 f-14 bold mb-10">
                                    Upload Enviroment
                                </div>
                                <div class="col-xl-12 col-sm-12 col-xs-12 f-14 mb-10">
                                    Only <b>.stl</b> file format accept
                                </div>
                                <div class="col-xl-12 col-sm-12 col-xs-12">
                                    <div class="col-xl-12 col-sm-12 col-xs-12  bgwhite">
                                        <div class="col-xl-12 col-sm-12 col-xs-12 floatleft f-14 flexCenter"> Drag and drop ﬁle here or </div>
                                        <div class="col-xl-12 col-sm-12 col-xs-12 floatleft f-14 flexCenter color">

                                            Click here to upload </div>
                                        <label class="image-upload-container btn btn-bwm">
                                                <span class="uploadbtn">  
                                                    <input  Input
                                                    type="file"
                                                    accept="image/*" >
                                                    Select Image</span>
                                              
                                              </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                    <app-mainfooter [showdeploy]="false" (movetonext)="routeService.movetonextpage('calibration')" (movetoback)="routeService.movetonextpage('grippingpoints')"></app-mainfooter>
                </div>
            </div>
        </div>
    </div>
</div>