<div class="grid-container" id="grippercontainer">
    <div class="grid-header">
        <app-header></app-header>
    </div>
    <div class="grid-main">
        <div class="inner-wrapper">
            <div class="sidebar">
                <app-sidebar></app-sidebar>
            </div>
            <div class="maincontent">
                <div id="grippercontainer" class="wrappercontainer">
                    <h2 class="bold f-16 mt-20 mb-20 pl-10">Upload CAD model of the Enviroment and Bin</h2>

                    <div class="col-xl-12 col-sm-12 col-xs-12 mb-30 height" *ngIf="step1">
                        <div class="col-xl-6 col-sm-6 col-xs-12 floatleft">
                            <div class="col-xl-12 col-sm-12 col-xs-12 pt-0 pl-10 pr-10">
                                <div class="form-group mb-2">
                                    <label for="uploadimg " class=" f-12 bold">Upload Enviroment</label>
                                    <p class="my-2 f-12 ">Only .stl file format accept</p>
                                    <div class="file-upload mb-2">
                                        <input type="file" class="file-input-img" accept=".stl" formControlName='uploadRobotImage' #imgfileUpload (change)="imagefileupload($event)">
                                        <div class="uploadbuttoncontainer d-flex flex-column align-items-center justify-content-between">
                                            <span class=" f-12 mb-7">Drag and Drop file here or</span>
                                            <button color="primary" class=" f-12 d-block btn btn-primary uploadbutton m-0" (click)="imgfileUpload.click()">
                                                Click here to upload
                                            </button>
                                        </div>
                                    </div>
                                    <span class="col-xl-6 col-sm-6 col-xs-12 floatleft" *ngIf="downloaddoc">
                                        <span class=" mb-2 uploadeddoc" *ngIf="imageFileName !==''">{{imageFileName}}
                                            <mat-icon class="material-icons-outlined mr-10 maticondownload" alt="faq"  (click)="imageFileName = '';closebtn()">
                                                close
                                            </mat-icon>
                                            </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-sm-6 col-xs-12 floatleft">
                            <div class="col-xl-12 col-sm-12 col-xs-12 pt-0 pl-10 pr-10">
                                <div class="form-group mb-2">
                                    <label for="uploadimg " class=" f-12 bold">Upload Bin</label>
                                    <p class="my-2 f-12 ">Only .jpg, .png file format accept</p>
                                    <div class="file-upload mb-2">
                                        <input type="file" class="file-input-img" accept=".stl" formControlName='uploadRobotImage1' #imgfileUpload1 (change)="imagefileupload1($event)">
                                        <div class="uploadbuttoncontainer d-flex flex-column align-items-center justify-content-between">
                                            <span class=" f-12 mb-7">Drag and Drop file here</span>
                                            <button color="primary" class=" f-12 d-block btn btn-primary uploadbutton m-0" (click)="imgfileUpload1.click()">
                                                Click Here to Upload
                                            </button>
                                        </div>
                                    </div>
                                    <span class="col-xl-6 col-sm-6 col-xs-12 floatleft" *ngIf="downloaddoc1">
                                        <span class="mb-2 uploadeddoc" *ngIf="imageFileName1 !==''">{{imageFileName1}}
                                            <mat-icon class="material-icons-outlined mr-10 maticondownload" alt="faq"  (click)="imageFileName1 = '';closebtn1()">
                                                close
                                            </mat-icon>
                                            </span>
                                    </span>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-xl-12 col-sm-12 col-xs-12 mb-30 height" *ngIf="step2">
                        <div class="col-xl-12 col-sm-12 col-xs-12">
                            <mat-tab-group [disableRipple]="true">
                                <mat-tab label="Robot">
                                    <app-grippercommonconter></app-grippercommonconter>
                                </mat-tab>
                                <mat-tab label="Enviroment">
                                    <app-grippercommonconter></app-grippercommonconter>
                                </mat-tab>
                                <mat-tab label="Bin">
                                    <app-grippercommonconter></app-grippercommonconter>
                                </mat-tab>
                            </mat-tab-group>
                        </div>
                    </div>
                    <app-mainfooter *ngIf="step1" [showdeploy]="false" (movetonext)="createEnvironmentData()" (movetoback)="step1=true;step2=false" submitname="Submit and Continue"></app-mainfooter>
                    <app-mainfooter customClass="mt-30" *ngIf="step2" [showdeploy]="false" (movetonext)="this.routeService.movetonextpage('calibration')" (movetoback)="step1=true;step2=false" submitname="Save"></app-mainfooter>
                </div>
            </div>
        </div>
    </div>
</div>