<div class="grid-container">
    <div class="grid-header">
        <app-header></app-header>
    </div>
    <div class="grid-main">
        <div class="inner-wrapper">
            <div class="sidebar">
                <app-sidebar></app-sidebar>
            </div>
            <div class="maincontent">
                <div id="grippercontainer" class="wrappercontainer ">
                    <div class="col-xl-12 col-sm-12 col-xs-12 mb-30 height">
                        <div class="col-xl-1 col-sm-1 col-xs-12 floatleft">
                            <div class="col-xl-12 col-sm-12 col-xs-12 pt-0 pl-10 pr-10">
                                <!-- <mat-icon class="material-icons-outlined mr-10" alt="faq">
                                    help_outline
                                </mat-icon> -->
                            </div>
                        </div>

                        <div class="col-xl-2 col-sm-2 col-xs-12 floatleft">
                            <div class="col-xl-12 col-sm-12 col-xs-12 pt-0 pr-10">
                                <div class="col-xl-12 col-sm-12 col-xs-12 f-14   ">
                                    Project ID
                                </div>
                                <div class="col-xl-12 col-sm-12 col-xs-12 f-14  bold ">
                                    33431276
                                </div>

                            </div>
                        </div>
                        <div class="col-xl-2 col-sm-2 col-xs-12 floatleft">
                            <div class="col-xl-12 col-sm-12 col-xs-12 pt-0  pr-10">
                                <div class="col-xl-12 col-sm-12 col-xs-12 f-14   ">
                                    Project Name
                                </div>
                                <div class="col-xl-12 col-sm-12 col-xs-12 f-14  bold ">
                                    Project Name
                                </div>

                            </div>
                        </div>
                        <div class="col-xl-2 col-sm-2 col-xs-12 floatleft">
                            <div class="col-xl-12 col-sm-12 col-xs-12 pt-0 pr-10">
                                <div class="col-xl-12 col-sm-12 col-xs-12 f-14   ">
                                    Project Name
                                </div>
                                <div class="col-xl-12 col-sm-12 col-xs-12 f-14   ">
                                    Description
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-xl-12 col-sm-12 col-xs-12 mb-30 height">

                        <div class="col-xl-4 col-sm-4 col-xs-12 floatleft p-10">
                            <div class="col-xl-12 col-sm-12 col-xs-12 mb-30 floatleft height bgcolor">
                                <div class="col-xl-12 col-sm-12 col-xs-12 mb-10 p-10 height  ">
                                    <div class="col-xl-4 col-sm-4 col-xs-12 floatleft pb-10 brdrbtn">
                                        <div class="col-xl-12 col-sm-12 col-xs-12 f-14   ">
                                            <div class="col-xl-2 col-sm-2 col-xs-12 floatleft">
                                                <div class="col-xl-12 col-sm-12 col-xs-12 pt-0 pr-10">
                                                    <span class="col-xl-12 col-sm-12 col-xs-12 f-13   ">
                                                    Bin Picking
                                                </span>
                                                    <span class="col-xl-12 col-sm-12 col-xs-12 f-14   ">
                                                    Description
                                                </span>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-sm-4 col-xs-12 floatleft pb-10 brdrbtn">
                                        <div class="col-xl-12 col-sm-12 col-xs-12 f-14   ">
                                            <div class="col-xl-2 col-sm-2 col-xs-12 floatleft">
                                                <div class="col-xl-12 col-sm-12 col-xs-12 pt-0  pr-10">
                                                    <span class="col-xl-12 col-sm-12 col-xs-12 f-13   ">
                                                    Bin Picking
                                                </span>
                                                    <span class="col-xl-12 col-sm-12 col-xs-12 f-14   ">
                                                    Description
                                                </span>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-sm-4 col-xs-12 floatleft pb-10 brdrbtn">
                                        <div class="col-xl-12 col-sm-12 col-xs-12 f-14   ">
                                            <div class="col-xl-2 col-sm-2 col-xs-12 floatleft">
                                                <div class="col-xl-12 col-sm-12 col-xs-12 pt-0  pr-10">
                                                    <span class="col-xl-12 col-sm-12 col-xs-12 f-13   ">
                                                    Bin Picking
                                                </span>
                                                    <span class="col-xl-12 col-sm-12 col-xs-12 f-14   ">
                                                    Description
                                                </span>

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="col-xl-12 col-sm-12 col-xs-12 pl-15 pr-15 mb-30 overflowheight">
                                    <div class="col-xl-12 col-sm-12 col-xs-12 f-13  mb-7 ">
                                        15:10:12 [INFO] Successfully connected
                                    </div>
                                    <div class="col-xl-12 col-sm-12 col-xs-12 f-13 mb-7  ">
                                        15:10:12 [INFO] Successfully connected
                                    </div>
                                    <div class="col-xl-12 col-sm-12 col-xs-12 f-13 mb-7  ">
                                        15:10:12 [INFO] Successfully connected
                                    </div>
                                    <div class="col-xl-12 col-sm-12 col-xs-12 f-13 mb-7  ">
                                        15:10:12 [INFO] Successfully connected
                                    </div>
                                    <div class="col-xl-12 col-sm-12 col-xs-12 f-13 mb-7  ">
                                        15:10:12 [INFO] Successfully connected
                                    </div>
                                    <div class="col-xl-12 col-sm-12 col-xs-12 f-13 mb-7  ">
                                        15:10:12 [INFO] Successfully connected
                                    </div>
                                    <div class="col-xl-12 col-sm-12 col-xs-12 f-13  mb-7 ">
                                        15:10:12 [INFO] Successfully connected
                                    </div>
                                    <div class="col-xl-12 col-sm-12 col-xs-12 f-13 mb-7  ">
                                        15:10:12 [INFO] Successfully connected
                                    </div>
                                    <div class="col-xl-12 col-sm-12 col-xs-12 f-13 mb-7  ">
                                        15:10:12 [INFO] Successfully connected
                                    </div>
                                    <div class="col-xl-12 col-sm-12 col-xs-12 f-13 mb-7  ">
                                        15:10:12 [INFO] Successfully connected
                                    </div>
                                    <div class="col-xl-12 col-sm-12 col-xs-12 f-13 mb-7  ">
                                        15:10:12 [INFO] Successfully connected
                                    </div>
                                    <div class="col-xl-12 col-sm-12 col-xs-12 f-13 mb-7  ">
                                        15:10:12 [INFO] Successfully connected
                                    </div>
                                </div>
                                <div class="col-xl-12 col-sm-12 col-xs-12 pl-15 pr-15 mb-30 ">
                                    <div class="buttoncontainer">
                                        <button class="cancel">Exit</button>
                                        <button class="back">Restart</button>
                                        <button class="submit">Stop Bin Picking</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-xl-8 col-sm-8 col-xs-12 floatleft p-10">
                            <div class="col-xl-12 col-sm-12 col-xs-12 mb-30 floatleft height bigcontainer">
                                <div class="col-xl-12 col-sm-12 col-xs-12 pt-0 pr-10 heightcontainer">
                                    <div class="col-xl-12 col-sm-12 col-xs-12 f-14  placeholderdetail ">
                                        Description
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>



                    <app-mainfooter (movetonext)="routeService.movetonextpage('calibration')" (movetoback)="routeService.movetonextpage('grippingpoints')"></app-mainfooter>
                </div>
            </div>
        </div>
    </div>
</div>