:host {
    * {
        font-size: 13px;
        line-height: 1;
    }
    .addcircle {
        width: 15px;
        height: 15px;
        margin-right: 5px;
    }
    .calibrationbtns {
        height: 30px;
        .addicon {
            width: 16px;
            height: 16px;
        }
        span {
            font-size: 13px !important;
        }
    }
    .example-full-width {
        border: 1px solid gray;
        padding: 0;
        font-size: 14px;
        // width: 236px;
        // height: 34px;
        border-radius: 5px;
    }
    .background_template {
        background: white;
        border: 1px solid #80808059;
        // padding: 7px;
        // height: 300px;
    }
    .pad20 {
        padding: 20px;
    }
    .inner-wrapper {
        display: block;
    }
    h3 {
        font-size: 15px;
        font-weight: bold;
    }
    .inner-wrapper {
        display: block;
    }
    .footerpanel {
        button {
            min-width: 70px;
            min-height: 20px;
            opacity: 1;
            border-radius: 3px;
            font-size: 11px;
        }
        .save {
            background: #35AFF8 0% 0% no-repeat padding-box;
            border: 1px solid #35AFF8;
            color: white;
            padding: 7px !important;
        }
        .cancel {
            background: #FFFFFF 0% 0% no-repeat padding-box;
            border: 1px solid #333333;
            padding: 7px !important;
        }
    }
}

.height {
    border-radius: 6px;
    min-width: 100%;
    // overflow-y: auto;
    // overflow-x: hidden;
}

.overflowheight {
    min-width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    height: 300px;
    border-top: 1px solid #a8a7a73b;
}

.bigcontainer {
    background: #ECECED;
    border: 1px solid #ECECED;
    border-radius: 6px;
    // position: relative;
}

.placeholderdetail {
    text-align: center;
    top: 50%;
    left: 50%;
    float: none;
    margin: 0 auto;
    position: absolute;
    transform: translate(-50%, -50%);
    font-size: 26px !important;
    color: #80808073;
}

.heightcontainer {
    position: relative;
    height: 450px;
}

.buttoncontainer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    button {
        margin: 0 5px 0 0px;
        border: 0;
        outline: 0;
        padding: 5px;
        font: normal normal normal 14px/19px Roboto;
        letter-spacing: 0px;
        text-align: center;
        opacity: 1;
        &:first-child {
            margin-left: 0px;
        }
    }
    .cancel {
        width: 70px;
        height: 33px;
        border: 1px solid #35AFF8;
        border-radius: 4px;
        color: #35AFF8;
    }
    .back {
        width: 70px;
        height: 33px;
        border: 1px solid #35AFF8;
        border-radius: 4px;
        color: #35AFF8;
    }
    .submit {
        background: #35AFF8 0% 0% no-repeat padding-box;
        border-radius: 4px;
        color: #FFFFFF;
        &:hover {
            background: #1D97E0 0% 0% no-repeat padding-box;
        }
    }
}

.backblueicon {
    background: #35AFF8;
    border-radius: 19px;
    color: #FFFFFF;
    height: 34px;
    width: 34px;
    font-size: 17px;
    padding: 8px;
}

.backgrayicon {
    background: #D8D8D9;
    border-radius: 19px;
    color: #989898;
    height: 34px;
    width: 34px;
    font-size: 17px;
    padding: 8px;
}

.check {
    background: #6DC14B;
    padding: 3px 3px;
    border-radius: 13px;
    color: #FFFFFF;
    font-size: 9px;
    height: 16px;
    width: 16px;
}

.download {
    margin: 2px 0px -9px 0px;
    cursor: pointer;
    font-size: 11px !important;
}

.dotcolr {
    width: 10px;
    height: 10px;
    background-color: #70BF4B;
    border-radius: 6px;
    margin-right: 10px;
}

.deploylabel {
    position: relative;
    bottom: 2px;
    font-size: 11px;
    right: 4px;
}

.btn_exit {
    width: 61px;
    border: 1px solid #35AFF8 !important;
    border-radius: 4px;
    background: #fff;
    color: #35AFF8;
}

.btn_grayexit {
    width: 61px;
    border: 1px solid #D8D8D9 !important;
    border-radius: 4px;
    background: #D8D8D9;
    color: #4b4b4b;
}

.btn_bluerestart {
    width: 76px;
    border: 1px solid #35AFF8 !important;
    border-radius: 4px;
    background: #35AFF8;
    color: #ffffff;
}

.btn_grayrestart {
    width: 76px;
    border: 1px solid #D8D8D9 !important;
    border-radius: 4px;
    background: #D8D8D9;
    color: #4b4b4b;
}

.btn_stop {
    width: 130px;
    border: 1px solid #35AFF8 !important;
    border-radius: 4px;
    background: #fff;
    color: #FFFFFF;
    background: #35AFF8 0% 0% no-repeat padding-box;
    &:hover {
        background: #1D97E0 0% 0% no-repeat padding-box;
        color: #FFFFFF;
    }
}

.btn_graystop {
    width: 130px;
    border: 1px solid #D8D8D9 !important;
    border-radius: 4px;
    background: #D8D8D9;
    color: #989898;
    background: #D8D8D9 0% 0% no-repeat padding-box;
}

.btntop {
    border-top: 1px solid #80808036;
    padding-top: 15px;
}

.scrollarrow {
    overflow-y: auto;
    overflow-x: hidden;
    height: 300px;
}