<div class="commonstyle box-form h-100">
    <div class="d-flex h-100 row m-0">
        <div class="leftside col-xl-7 col-lg-7 col-sm-12 ">
            <div>
                <p class="font28_white_bold">Bin Picking is a robot vision solution that guides your robot to pick and place a wide range of products for various service
                </p>
            </div>
            <div>
            </div>
        </div>
        <div class="rightside col-xl-5 col-lg-5 col-sm-12">

            <form [formGroup]="signInForm" (ngSubmit)="onSubmit()">
                <div class=" d-flex align-items-center  col-xl-12 col-sm-12 mb-35 commonstyle justify-content-end">
                    <span class="col-xl-12 col-sm-12 floatleft f-16">Welcome back! Please login to your account.</span>
                </div>
                <div class="col-xl-12 col-sm-12 floatleft" *ngIf="signinShow">
                    <!-- After password reset -->

                    <!-- <div class="" *ngIf="afterResetSuccess">
                        <div>
                            <span><img src="./assets/Images/reset_succes.png" /></span>
                            <span class="font16_medium_green">Password reset successfully!</span>
                        </div>
                    </div> -->


                    <div class="col-xl-12 col-sm-12 floatleft usename f-14 mb-20">
                        <span class="col-xl-12 col-sm-12 floatleft f-14 ">User Name</span>
                        <mat-form-field appearance="outline" class="col-12 width">
                            <input matInput>
                        </mat-form-field>
                    </div>
                    <div class="col-xl-12 col-sm-12 floatleft f-14 mb-40">
                        <span class="col-xl-12 col-sm-12 floatleft f-14 ">Password</span>
                        <mat-form-field appearance="outline" class="col-12 width">
                            <input matInput [type]="hide ? 'password' : 'text'">
                            <button class="nonebg" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                <mat-icon class="material-icons-outlined">
                                    visibility
                                    </mat-icon>
                            </button>
                        </mat-form-field>
                    </div>
                    <span class="col-xl-12 col-sm-12 floatleft f-14 mr-20 mb-35">
                        <span class="col-xl-6 col-sm-6 floatleft f-14 ">
                </span>
                    <span class="col-xl-6 col-sm-6 floatleft f-14 ">
                        <button class="signin_btn" routerLink="/project-details" >Sign in</button>

                    </span></span>
                    <span class="col-xl-6 col-sm-6 cp pull-right mb-3 mr-10" (click)="successOtp()">Reset
                    password</span>
                    <span class="col-xl-6 col-sm-6 cp pull-right mb-3" (click)="forgotPasswordClick()">Forgot
                        password</span>

                </div>
            </form>

            <!-- forgot password start -->
            <div class="col-12 p-5r" *ngIf="forgotShow">
                <span class="col-xl-12 col-sm-12 floatleft f-14 mb-25">altafp@domainname.com</span>
                <span class="col-xl-12 col-sm-12 floatleft f-18  bold mb-10">Enter code</span>
                <span class="col-xl-12 col-sm-12 floatleft f-14 mb-10">We texted your phone +XX XXXXXXXX12</span>


                <div class="col-xl-12 col-sm-12 floatleft f-14  usename">
                    <span class="col-xl-12 col-sm-12 floatleft f-14 mb-20">Please enter the code</span>
                    <mat-form-field appearance="outline" class="col-12 width mb-20">
                        <input matInput>
                    </mat-form-field>
                </div>
                <div>
                    <button class="signin_btn mb-40" routerLink="/project-details">Verify</button>
                </div>
                <span class="col-xl-12 col-sm-12 floatleft f-14  mb-10 "> Having trouble? Sign in another way</span>
                <span class="col-xl-12 col-sm-12 floatleft f-14 "> More information</span>


            </div>


            <!-- otp start -->

            <div class="col-12 p-5r" *ngIf="otpShow">
                <label role="button" tabindex="0" aria-label="back" class="back_arrow"></label>
                <h2>OTP Verification</h2>

                <p>Please enter the OTP sent to your Email ID</p>

                <div class="col-12 input-container d-flex flex-row justify-content-center mt-2">
                    <input type="text" class="form-control m-2 rounded text-center" maxlength="1" />
                    <input type="text" class="form-control m-2 rounded text-center" maxlength="1" />
                    <input type="text" class="form-control m-2 rounded text-center" maxlength="1" />
                    <input type="text" class="form-control m-2 rounded text-center" maxlength="1" />
                    <input type="text" class="form-control m-2 rounded text-center" maxlength="1" />
                </div>
                <div>
                    <small>Didn’t receive OTP? <a routerLink="">Resend</a> </small>
                </div>
                <div>
                    <!-- <button class="signin_btn" (click)="nextOtp()">Confirm</button> -->
                    <button class="button signin_btn" [disabled]="" isLoading>

                        <span class="button__text" *ngIf="isLoadingfal" (click)="loadingData()">Verify</span>
                        <span class="button--loading" *ngIf="isLoading"></span>
                        <span class="button__text" *ngIf="isLoadingTrue" (click)="successOtp()">Verified</span>
                    </button>
                </div>
                <small>Incorrect OTP</small>
            </div>

            <!-- Reset password start -->

            <div class="col-12 p-5r" *ngIf="resetShow">
                <span class="col-xl-12 col-sm-12 floatleft f-16 bold mb-40">Reset Password</span>


                <div class="col-12">
                    <span class="col-xl-12 col-sm-12 floatleft f-14 ">Enter New Password</span>
                    <mat-form-field appearance="outline" class="col-xl-12 col-sm-12 floatleft mb-25">
                        <!-- <mat-label>New Password</mat-label> -->
                        <input matInput [type]="hide ? 'password' : 'text'">
                        <button class="nonebg" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                            <mat-icon class="material-icons-outlined">
                                visibility
                                </mat-icon>
                        </button>
                    </mat-form-field>
                </div>
                <div class="col-12">
                    <span class="col-xl-12 col-sm-12 floatleft f-14 ">Retype Password</span>
                    <mat-form-field appearance="outline" class="col-xl-12 col-sm-12 floatleft mb-25">
                        <!-- <mat-label>Re-enter New Password</mat-label> -->
                        <input matInput [type]="hide ? 'password' : 'text'">
                        <button class="nonebg" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                            <mat-icon class="material-icons-outlined">
                                visibility
                                </mat-icon>
                        </button>
                    </mat-form-field>
                </div>
                <div>
                    <button class="signin_btn" (click)="resetPassword()">Submit </button>
                </div>
            </div>
        </div>
    </div>
</div>