<div id="projectdetailcontainer" class="pad20">
    <!-- <app-model *ngIf="model" (closeModelEmit) = "showModel($event)">Test;</app-model> -->
    <h3 class="f-18 bold">Current Projects Summary</h3>
    <div class="cards background_template">
        <div class="container-lg col-sm-12 col-xl-12">
            <p class="col-sm-12 col-xl-12 f-14 mb-0"> Search</p>
            <span class="col-sm-6 col-xl-6 floatleft"> 
            <form class="example-form mb-10">
                <mat-form-field class="example-full-width" appearance="fill">
                    <!-- <mat-label>Favorite food</mat-label> -->
                    <input matInput placeholder="Ex. Pizza" value="Sushi">
                </mat-form-field>
            </form>
        </span>
            <span class=" col-sm-6 col-xl-6 buttoncontainer  floatright">
                <button class="calibrationbtns mr-10">Create New Project</button>
            </span>

            <div class="example-header">
                <mat-form-field>
                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                </mat-form-field>
            </div>

            <div class="example-container mat-elevation-z8">

                <mat-table [dataSource]="dataSource" matSort>

                    <!-- ID Column -->
                    <ng-container matColumnDef="id">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
                    </ng-container>

                    <!-- Progress Column -->
                    <ng-container matColumnDef="progress">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Progress </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.progress}}% </mat-cell>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="name">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
                    </ng-container>

                    <!-- Color Column -->
                    <ng-container matColumnDef="color">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Color </mat-header-cell>
                        <mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.color}} </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;">
                    </mat-row>
                </mat-table>

                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
            </div>





        </div>
    </div>
</div>