:host {
    * {
        font-size: 11px;
        line-height: 1;
    }
    .calibrationbtns{
        height: 30px;        
    }
    .example-full-width {
        border: 1px solid gray;
        padding: 5px;
        font-size: 14px;
        width: 236px;
        // height: 34px;
        border-radius: 5px;
    }
    
    .background_template {
        background: white;
        border: 1px solid #80808059;
        padding: 7px;
        // height: 300px;
    }
    
    .pad20 {
        padding: 20px;
    }
    
    .calibrationbtns {
        background: #35AFF8 0% 0% no-repeat padding-box;
        padding: 7px 24px;
        font-size: 14px;
        border: none;
        color: #ffffff;
        border-radius: 4px;
        border: 1px solid #35AFF8;
        float: right;
        &:hover {
            background: #ffffff 0% 0% no-repeat padding-box;
            color: #1D97E0;
        }
    }
    
    .example-container {
        display: flex;
        flex-direction: column;
        min-width: 300px;
    }
    
    .example-header {
        min-height: 64px;
        padding: 8px 24px 0;
    }
    
    .mat-form-field {
        font-size: 14px;
        // width: 100%;
    }
    
    .mat-table {
        overflow: auto;
        max-height: 500px;
    }
    .inner-wrapper {
        display: block;
    }
    &:ng-deep {
        .mat-paginator-container {
            justify-content: space-between !important;
        }
    }

    .search {
        position: relative;
    }
    
}