<div class="grid-container">
    <div class="grid-header">
        <app-header></app-header>
    </div>
    <div class="grid-main">
        <div class="inner-wrapper">
            <div class="sidebar">
                <!-- <app-sidebar></app-sidebar> -->
            </div>
            <div class="maincontent">
                <div id="projectdetailcontainer" class="pad20">
                    <h3 class="col-sm-12 col- f-16 bold mb-20">Current Projects Summary</h3>
                    <div class=" col-sm-12 col-xl-12 search mb-20">
                        <p class="col-sm-12 col-xl-12 f-12 mb-1">Search
                            <app-tooltip>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fuga nemo, culpa nostrum asperiores animi, sed dolorem repellendus suscipit temporibus debitis optio nobis vero veritatis dolorum quam commodi reprehenderit officiis
                                corrupti.
                            </app-tooltip>

                            <div class="d-flex justify-content-between align-items-center">
                                <form class="example-form">
                                    <div class="inputwrap">
                                        <input placeholder="-" value="" />
                                        <img class="searchicon" src="../../../../assets/search_black_18dp.svg" alt="search">
                                    </div>
                                </form>
                                <button class="calibrationbtns d-flex align-items-center justify-content-between" (click)="routerService.movetonextpage('project-details')">
                                    <img class="addcircle" src="../../../../assets/add_circle_outline_white_48dp.svg" alt="add project">
                                    <span class="m-0">Create New Project</span></button>
                            </div>
                    </div>
                    <div class="cards background_template">
                        <div class="example-container mat-elevation-z8 mb-15">
                            <mat-table [dataSource]="dataSource" matSort>
                                <!-- Project ID Column -->
                                <ng-container matColumnDef="id">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header class="f-14 bold"> Project ID </mat-header-cell>
                                    <mat-cell *matCellDef="let row" class="f-12 bold"> {{row.id}} </mat-cell>
                                </ng-container>

                                <!-- Modified Column -->
                                <ng-container matColumnDef="progress">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header class="f-14 bold"> Last Modified </mat-header-cell>
                                    <mat-cell *matCellDef="let row"> {{row.progress}} </mat-cell>
                                </ng-container>

                                <!-- Project Name Column -->
                                <ng-container matColumnDef="name">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header class="f-14 bold"> Project Name </mat-header-cell>
                                    <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
                                </ng-container>

                                <!-- Status Column -->
                                <ng-container matColumnDef="status">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header class="f-14 bold"> Status </mat-header-cell>
                                    <mat-cell *matCellDef="let row" [style.status]="row.status">
                                        <span class="dotcolr"></span> {{row.status}} </mat-cell>
                                </ng-container>

                                <!-- Action Column -->
                                <ng-container matColumnDef="action">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header class="f-14 bold"> Action </mat-header-cell>
                                    <mat-cell *matCellDef="let row" [style.action]="row.action">
                                        <!-- <img src="../../../../assets/close.png" class="innerbtn" /> -->
                                        <mat-icon class="material-icons-outlined mr-10 editdelete" alt="faq">
                                            edit
                                        </mat-icon>
                                        <mat-icon class="material-icons-outlined mr-10 editdelete" alt="faq">
                                            delete
                                        </mat-icon>
                                        <button class="btncreate btndeploy">
                                            <mat-icon class="material-icons-outlined download" alt="faq">
                                                download
                                            </mat-icon>
                                          <span class="deploylabel"> {{row.action}} </span> </button>
                                    </mat-cell>
                                </ng-container>

                                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                <mat-row *matRowDef="let row; columns: displayedColumns;">
                                </mat-row>
                            </mat-table>

                        </div>

                    </div>
                    <mat-paginator #MatPaginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                </div>
            </div>
        </div>
    </div>
</div>