<div id="projectdetailcontainer" class="pad20">
    <!-- <app-model *ngIf="model" (closeModelEmit) = "showModel($event)">Test;</app-model> -->
    <h3 class="f-18 bold">Current Projects Summary</h3>
    <div class="cards background_template">
        <div class="container-lg col-sm-12 col-xl-12">
            <p class="col-sm-12 col-xl-12 f-14 mb-0"> Search</p>
            <span class="col-sm-6 col-xl-6 floatleft"> 
            <form class="example-form mb-10">
                <mat-form-field class="example-full-width" appearance="fill">
                    <!-- <mat-label>Favorite food</mat-label> -->
                    <input matInput placeholder="Ex. Pizza" value="Sushi">
                </mat-form-field>
            </form>
        </span>
            <span class=" col-sm-6 col-xl-6 buttoncontainer  floatright">
                <button class="calibrationbtns mr-10">Create New Project</button>
            </span>

        </div>
    </div>
</div>