:host {
    * {
        font-size: 11px;
        line-height: 1;
    }
    .addcircle {
        width: 15px;
        height: 15px;
        margin-right: 5px;
    }
    .calibrationbtns {
        height: 30px;
        .addicon {
            width: 16px;
            height: 16px;
        }
        span {
            font-size: 13px !important;
        }
    }
    .example-full-width {
        border: 1px solid gray;
        padding: 0;
        font-size: 14px;
        // width: 236px;
        // height: 34px;
        border-radius: 5px;
    }
    .background_template {
        background: white;
        border: 1px solid #80808059;
        // padding: 7px;
        // height: 300px;
    }
    .pad20 {
        padding: 20px;
    }
    .calibrationbtns {
        display: flex;
        align-items: center;
        background: #35AFF8 0% 0% no-repeat padding-box;
        padding: 0px 10px;
        font-size: 14px;
        border: none;
        color: #ffffff;
        border-radius: 4px;
        border: 1px solid #35AFF8;
        float: right;
        &:hover {
            background: #096ca5 0% 0% no-repeat padding-box;
            color: #FFFFFF;
        }
    }
    .example-container {
        display: flex;
        flex-direction: column;
        min-width: 300px;
    }
    .example-header {
        min-height: 64px;
        padding: 8px 24px 0;
    }
    .mat-form-field {
        font-size: 14px;
        // width: 100%;
    }
    .mat-table {
        overflow: auto;
        max-height: 500px;
    }
    .inner-wrapper {
        display: block;
    }
    &:ng-deep {
        .mat-paginator-container {
            justify-content: space-between !important;
        }
    }
    .search {
        position: relative;
    }
}

.mat-row {
    border-style: inset !important;
}

.mat-header-row {
    background: #D9EFF9 !important;
    padding: 0px !important;
    border-bottom-width: 0px !important;
}

.inputwrap {
    position: absolute;
    top: 20px;
    <<<<<<< HEAD .searchicon {
        position: relative;
        top: 0;
        font-size: 18px;
        transform: rotate(90deg);
    }
    .btncreate {
        padding: 8px;
        border-radius: 4px;
        border: 1px solid #80808075;
    }
    .innerbtn {
        height: 10px;
        width: 10px;
    }
    =======input {
        height: 25px;
        border-radius: 5px;
        border-color: gray;
        border: 1px solid;
        padding: 0 20px;
        height: 30px;
    }
    .searchicon {
        top: 27%;
        left: 10px;
        font-size: 18px;
        transform: rotate(90deg);
        width: 15px;
        height: 15px;
        position: absolute;
    }
}

>>>>>>>b5a38e74519f7fcb21b3aebc2c0b5ed22811b2d5