<div class="grid-container" id="grippercontainer">
    <div class="grid-header">
        <app-header></app-header>
    </div>
    <div class="grid-main">
        <div class="inner-wrapper">
            <div class="sidebar">
                <app-sidebar></app-sidebar>
            </div>
            <div class="maincontent">
                <div id="grippercontainer" class="wrappercontainer">
                    <app-model *ngIf="model" (closeModelEmit)="showModel($event)" headertitle='Configure Grasp Poses - Object 1' customclass="gripperpoints">
                        <app-grippercommonconter></app-grippercommonconter>
                        <div class="d-flex align-content-center justify-content-end mt-2 footerpanel">
                            <button class="cancel border-1 p-0" (click)="model = false">Cancel</button>
                            <button class="save mx-3 border-0 p-0" (click)="model = false">Save</button>
                        </div>
                    </app-model>
                    <h3 class="my-1 f-16"> Poses</h3>
                    <div class="cards">
                        <app-card addText="Add New Poses" (buttonSelected)="showModel($event)"></app-card>
                    </div>
                    <!-- <app-mainfooter class="routeService.movetonextpage('environment') " (movetoback)="routeService.movetonextpage('object')" submitname="Submit and Continue"></app-mainfooter> -->
                    <app-mainfooter [showdeploy]="false" (movetonext)="routeService.movetonextpage('object')" (movetoback)="routeService.movetonextpage('object')" submitname="Submit and Continue">
                    </app-mainfooter>
                </div>
            </div>
        </div>
    </div>
</div>