:host {
    header {
        width: 100%;
        height: 50px;
        box-shadow: 4px 4px 10px rgb(0,0,0, 0.5);

        .homebutton {
            width: 26px;
            height: 27px;
            background: #F7F8F8 0% 0% no-repeat padding-box;
            border: 1px solid #707070;
            opacity: 1;
            // margin: auto;
            border-radius: 50%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            place-content: space-evenly;
            padding: 5px;
            position: relative;
            top: 0px;
           
            .buttonrec {
                width: 5px;
                height: 5px;
                border: 1px solid;
                display: inline-block;
                padding: 2px;
            }
        }

        .circle {
            width: 30px;
            height: 30px;
            border:0;
            border-radius: 50%;
            position: absolute;
            z-index: -100;
            outline: none;
        }

        .divider {
            display: inline-block;
            height: 80%;
            margin: 0 10px;
        }

        .flex-default {
            display: flex;            
            align-items: center;
            justify-content: space-between;
        }
        .header-wrapper {            
            @extend .flex-default;
            height: 100%;
            // padding-right: 10px;

            .user-wrapper {
                text-align: right;
            }

            img[alt='logo'] {
                width: 50px;
            }
            img[alt='user logo'] {
                width: 25px;
                height:25px;
                margin: 0 10px;
            }
            img[alt='faq'] {
                width: 18px;
                height:18px;
            }
            img[alt='logout'] {
                width: 15px;
                height:15px;
                margin: 0 5px;
            }
            .appname {
                margin-left: 10px;
                position: relative;
                top: -5px;

                .appname-circle {
                   @extend .circle;
                    background-color: yellow;
                }

                .appname-title {
                    margin-right: 15px;
                    font-size: 17px;
                    font-weight: bold;
                    // margin-top: 8px;
                    position: relative;
                    top: 5px;
                    left: 10px;
                }                
            }
            .user-wrapper {
                .appname-circle {
                    @extend .circle;
                    background-color: black;                    
                }

                .companyname {
                    color: skyblue;
                    font-size: 12px;
                    margin-left: 2px;
                }
                .solution {
                    color: black;
                    font-size: 12px;
                    font-weight: bold;
                    margin-left: 5px;
                }
                .userdetails {
                    flex-direction: column;
                    align-items: flex-end;
                    font-size: 12px;

                    p:first-child {
                        font-weight: bold;
                    }
                }
            }
        }
    }
}