<header>
    <div class="header-wrapper">
        <div class="logo-wrapper d-flex">
            <img class="logo" src="../../../assets/logo.png" alt="logo" /> | 
            <div class="appname">
                <span class="appname-circle"></span>
                <h1 class="appname-title">Bin Picking</h1>                
            </div>
            <button class="homebutton">
                <div class="buttonrec"></div>
                <div class="buttonrec"></div>
                <div class="buttonrec"></div>
                <div class="buttonrec"></div>
            </button>
        </div> 
        <div class="user-wrapper d-flex">
            <span class="appname-circle"></span>
            <h2 class="companyname">ABC</h2>
            <span class="solution">Solution company</span>
            <span class="divider">|</span>
            <div class="userdetails d-flex">
                <p class="username">Altaf A Pinjari</p>
                <p class="logintime">Last Login 26/12/2021 : 15:30</p>
            </div>
            <img src="../../../assets/AvatarCircleNeutral.svg" alt="user logo" />
            <img src="../../../assets/fag.png" alt="faq" />
            <img src="../../../assets/signout.svg" alt="logout" />
        </div>
    </div>
</header>
