<header>
    <div class="header-wrapper">
        <div class="logo-wrapper d-flex">
            <img class="logo" src="../../../assets/logo.png" alt="logo" (click)="onloginpage()" /> |
            <div class="appname">
                <span class="appname-circle"></span>
                <h1 class="appname-title">Bin Picking</h1>
            </div>
            <!-- <button class="homebutton ml-25" (click)="back()">
                <div class="buttonrec"></div>
                <div class="buttonrec"></div>
                <div class="buttonrec"></div>
                <div class="buttonrec"></div>
            </button> -->
            <div class="tip" *ngIf="showTip">
                <span class="tooltipvalue">Home</span>
            </div>

            <img src="../../../assets/Images/iconhome.svg" class="imgcss" alt="info" tabindex="0" (mouseover)="showTip = true" (mouseleave)="showTip = false" />
        </div>
        <div class="user-wrapper d-flex">
            <!-- <span class="appname-circle"></span> -->
            <h2 class="companyname mx-auto">ABC</h2>
            <span class="solution mr-15">Solution company</span>
            <div class="userdetails d-flex">
                <p class="username m-0">Altaf A Pinjari</p>
                <p class="logintime m-0">Last Login 26/12/2021 : 15:30</p>
            </div>
            <img src="../../../assets/AvatarCircleNeutral.svg" class="mr-10" alt="user logo" />
            <div class="tip" *ngIf="showTip1">
                <span class="tooltipvalue">FAQ</span>
            </div>
            <mat-icon class="material-icons-outlined mr-10" (mouseover)="showTip1 = true" (mouseleave)="showTip1 = false" alt="faq">
                help_outline
            </mat-icon>
            <div class="tip" *ngIf="showTip2">
                <span class="tooltipvalue">SignOut</span>
            </div>
            <img src="../../../assets/signout.svg" alt="logout" (mouseover)="showTip2 = true" (mouseleave)="showTip2 = false" (click)="onlogoutpage()" />
        </div>
    </div>
</header>