<div class="grid-container" id="robotcontainer">
    <div class="grid-header">
        <app-header></app-header>
    </div>
    <div class="grid-main">
        <div class="inner-wrapper">
            <div class="sidebar">
                <app-sidebar></app-sidebar>
            </div>
            <div class="maincontent">
                <div class="pb-20 pl-25 pt-20 ">
                    <h3 class="d-inline-flex align-items-center">
                        <span class="f-16 bold">Select Robot</span>
                        <app-tooltip>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore iusto reiciendis laborum nisi porro, voluptate pariatur impedit illo cum velit rerum corrupti quos ratione ad. Animi, amet quaerat officiis molestias id nulla ad non cumque. Adipisci itaque
                            sint saepe, iusto accusantium fugiat quod doloremque. Alias, fugit. Repudiandae tempore iusto tempora.
                        </app-tooltip>
                    </h3>
                </div>
                <div class="innermaincontainer pl-20">
                    <div class="robotcontainer border-1 pb-20 ">
                        <ng-container *ngFor="let robot of robotDetails; let i = index">
                            <app-robotdetails [details]="robot" class="pr-10"></app-robotdetails>
                        </ng-container>
                    </div>
                </div>
                <app-mainfooter [showdeploy]="false" (movetonext)="routeService.movetonextpage('gripper')" (movetoback)="routeService.movetonextpage('project-details')">
                </app-mainfooter>
            </div>
        </div>
    </div>
</div>