:host {
    &::ng-deep {
        #robotcontainer footer .buttoncontainer {
            padding-right: 30px;
        }
        .selectgripper {
            .model {
                width: 300px !important;
            }
            select {
                margin-left: 1rem;
                padding: 0.7rem;
                border:1px solid lightgray
            }
        }
    }
    * {
        font-size: 11px;
    }
    .header {
        text-align: left;
        vertical-align: middle;
        position: relative;
        min-height: 40px;
        h3 span {
            font-size: 15px;
            font-weight: bold;
        }
    }
    .footer {
        min-height: 50px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    .innermaincontainer {
        display: grid;
        grid-template-columns: 100%;
        height: calc(100% - 150px);
        overflow: auto;
    }
    .robotcontainer {
        display: flex;
        flex-wrap: wrap;
        align-self: flex-start;
        align-items: center;
        justify-content: flex-start;
        gap: 5px;
        max-height: 520px;
    }
    .color {
        background: #35AFF8;
        padding: 3px 3px;
        border-radius: 13px;
        font-size: 10px;
        height: 16px;
        width: 16px;
        margin-right: 5px;
        color: #fff;
        position: relative;
        top: 0px;
    }
    .gray {
        background: transparent;
        padding: 0px 0px 0px 0px;
        border-radius: 13px;
        font-size: 17px;
        height: 16px;
        width: 16px;
        position: relative;
        margin: 0px 6px 0px 4px;
        color: #a9a9a9cc;
        position: relative;
        top: 4px;
    }
    .aligntext {
        margin-right: 15px;
        border-right: 1px solid gray;
        padding-right: 10px;
    }
    .aligntext1 {
        margin-right: 15px;
        padding-right: 10px;
    }
    .colorgray {
        color: #a9a9a9cc;
    }
    #manufacturename {
        min-width: 300px;
    }
    .file-upload {
        height: 70px;
        border: 1px dashed gray;
        border-radius: 5px;
        position: relative;
    }
    .uploadbutton {
        background: transparent;
        border: 0;
        text-decoration: none;
        color: lightskyblue;
        padding: 0;
        margin: 0 10px;
    }
    .cancel {
        margin-right: 15px;
    }
    .submit {
        width: 90px;
    }
    .file-input-img {
        opacity: 0;
        width: 100%;
        height: 70px;
    }
    .uploadbuttoncontainer {
        position: absolute;
        transform: translate(-50%, 50%);
        top: 0;
        left: 50%;
        width: auto;
    }
    .admincontrols {
        button {
            border: 0;
            background: transparent;
            padding: 10px;
        }
    }
    .gray {
        background: transparent;
        padding: 0px 0px 0px 0px;
        border-radius: 13px;
        font-size: 17px;
        height: 16px;
        width: 16px;
        position: relative;
        margin: 0px 6px 0px 4px;
        color: #a9a9a9cc;
        position: relative;
        top: 4px;
    }
    .enabled {
        color: black;
    }
}