:host {
    * {
        font-size: 11px;
    }
    .header {
        text-align: left;
        vertical-align: middle;
        position: relative;
        min-height: 40px;
        h3 span {
            font-size: 15px;
            font-weight: bold;
        }
    }
    .footer {
        min-height: 50px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    .innermaincontainer {
        display: grid;
        grid-template-columns: 100%;
        height: calc(100% - 150px);
        overflow: auto;
    }
    .robotcontainer {
        display: flex;
        flex-wrap: wrap;
        align-self: flex-start;
        align-items: center;
        justify-content: flex-start;
        gap: 5px;
        max-height: 520px;
    }
}