<app-model headertitle="Delete" *ngIf="isAdmin && showDeleteGripperModel && selectedRobot" (closeModelEmit)="showDeleteGripperModel = false">
    <p style="margin-bottom: 20px;font-size:small">Are you sure you want to delete this item?</p>
    <div style="text-align: right;">
        <button class="btn btn-light" style="margin-right: 10px;width: 50px" (click)="showDeleteGripperModel = false">No</button>
        <button class="btn btn-primary" style="margin-right: 10px;width: 70px" (click)="onDeleteConfirm()">YES</button>
    </div>
</app-model>
<!-- (closeModelEdit)="showSelectGripper = false;selectedRobot = null;"-->
<app-model headertitle="Select Gripper" *ngIf="isAdmin && showSelectGripper" customclass="selectgripper" (closeModelEmit)="showSelectGripper = false">
    <div class="d-flex align-content-between justify-content-center flex-column">
        <div class="mb-3">
            <label for="selectgripper">Select Gripper</label>
            <select name="selectgripper" id="selectgripper" [(ngModel)]="selectedGripperId">
                <option value="{{gripper.id}}" *ngFor="let gripper of GRIPPERS">{{gripper.name}}</option>
            </select>
        </div>
        <div>
            <!-- <button class="btn btn-light" style="margin-right: 10px;width: 50px" (click)="showSelectGripper = false;selectedRobot = null;">No</button> -->
            <button class="btn btn-primary" style="margin-right: 10px;width: 70px" (click)="onGripperConfirm()">Update</button>
        </div>
    </div>
</app-model>

<app-model headertitle="Add New Robot" *ngIf="isAdmin && showRobotModel && !isEdit" (closeModelEmit)="showModel(false)">
    <app-addrobot [isEdit] = "false" [robotId]="robotId" [isEditForm]="null" (cancelEvent)="showRobotModel = false;selectedRobot = null;" (formSubmit)="createRobot($event)"></app-addrobot>
</app-model>

<app-model headertitle="Edit Robot" *ngIf="isAdmin && showRobotModel && isEdit" (closeModelEmit)="showModel(false)">
    <app-addrobot [isEdit] = "true" [robotId]="robotId" [isEditForm]="selectedRobot" (cancelEvent)="showRobotModel = false;selectedRobot = null;" (formSubmit)="createRobot($event)"></app-addrobot>
</app-model>

<!-- <app-model headertitle="Add New Gripper" *ngIf="isAdmin && showGripperModel" (closeModelEmit)="showGripper(false)">
    <app-add-gripper (cancelEvent)="showGripperModel = false" (formSubmit) = "createRobot($event)"></app-add-gripper>
</app-model> -->

<div class="grid-container" id="robotcontainer">
    <div class="grid-header">
        <app-header></app-header>
    </div>
    <div class="grid-main">
        <div class="inner-wrapper">
            <div class="sidebar">
                <app-sidebar></app-sidebar>
            </div>
            <div class="maincontent">
                <div class="pb-20 pl-25 pt-20" [ngClass]="{'d-flex align-items-center justify-content-between' : isAdmin }">
                    <h3 class="d-inline-flex align-items-center">
                        <span class="f-16 bold">{{isAdmin? 'List of Robots' : 'Select Robot'}}
                            <app-tooltip>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore iusto reiciendis laborum nisi porro, voluptate pariatur impedit illo cum velit rerum corrupti quos ratione ad. Animi, amet quaerat officiis molestias id nulla ad non cumque. Adipisci itaque
                                sint saepe, iusto accusantium fugiat quod doloremque. Alias, fugit. Repudiandae tempore iusto tempora.
                            </app-tooltip>
                        </span>
                    </h3>
                    <div class="" *ngIf="isAdmin">
                        <div class="pr-20 admincontrols">
                            <button (click)="showModel(true)">
                                <mat-icon class="material-icons-outlined color" alt="faq">add</mat-icon>
                                <span class="f-13" >Add Robot</span> 
                            </button>
                            <button (click)="editRobot()">
                                <mat-icon class="material-icons-outlined gray" alt="faq">edit</mat-icon>
                                <span class="f-13 colorgray" [ngClass]="{'enabled': selectedRobot !== null}">Edit Robot</span>
                            </button>
                            <button (click)="openDeleteRobot()">
                                <mat-icon class="material-icons-outlined gray" alt="faq">delete</mat-icon>
                                <span class="f-13 colorgray" [ngClass]="{'enabled': selectedRobot !== null}">Delete Robot</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="innermaincontainer pl-20">
                    <div class="robotcontainer border-1 pb-20 ">
                        <ng-container *ngFor="let robot of robotDetails; let i = index">
                            <app-robotdetails (OpenGripper) = "openGripper($event)" (onSelect)="onselectedRobot($event)" [details]="robot" class="pr-10"></app-robotdetails>
                        </ng-container>
                    </div>
                </div>
                <app-mainfooter *ngIf="!isAdmin" [showdeploy]="false" (movetonext)="gotoGripper()" (movetoback)="routeService.movetonextpage('project-details')">
                </app-mainfooter>
            </div>
        </div>
    </div>
</div>