<app-deletepopup *ngIf="isAdmin && model" (closeModelEmit)="model=false">

</app-deletepopup>
<app-model headertitle="Add New Robot" *ngIf="isAdmin && showRobotModel" (closeModelEmit)="showModel(false)">
    <div class='addrobot'>
        <form [formGroup]='addRobot' (ngSubmit)="onSubmit($event)" >
            <div class="form-group mb-4">
              <label for="robotname">Name<span>*</span></label>
              <input formControlName='robotName' type="text" name="robotname" id="robotname" class="form-control" placeholder="" aria-describedby="helpId">
              <!-- <small id="helpId" class="text-muted sr-only">Enter Robot Name</small> -->
            </div>
            <div class="mb-4 form-group mb-2 d-inline-flex align-items-center justify-content-between">
                <div style="margin-right: 20px">
                    <label for="manufacturename">Manufacturer Name<span>*</span></label>
                    <input formControlName='manufacturename' type="text" name="manufacturename" id="manufacturename" class="form-control" placeholder="" aria-describedby="menufacture">
                    <!-- <small id="menufacture" class="text-muted sr-only">Enter Manufacturer Name</small> -->
                </div>
                <div style="margin-right: 10px">
                    <label for="reach">Reach<span>*</span></label>
                    <input formControlName='reach' type="text" name="reach" id="reach" class="form-control" placeholder="" aria-describedby="reach">
                    <!-- <small id="menufacture" class="text-muted sr-only">Enter Manufacturer Name</small> -->
                </div>
                <div>
                    <label for="playload">Playload<span>*</span></label>
                    <input formControlName='playload' type="text" name="playload" id="playload" class="form-control" placeholder="" aria-describedby="reach">
                    <!-- <small id="menufacture" class="text-muted sr-only">Enter Manufacturer Name</small> -->
                </div>
              </div>
              <div class="form-group mb-2">
                <label for="uploadimg">Upload Robot Image<span>*</span></label>
                <p class="my-2">Only .jpg, .png file format accept</p>
                <div class="file-upload mb-2">
                    <input type="file" class="file-input-img" accept="image/png, image/jpeg" 
                    formControlName='uploadRobotImage' #imgfileUpload (change)="imagefileupload($event)">
                    <div class="uploadbuttoncontainer d-flex flex-column align-items-center justify-content-between">
                        <span>Drag and Drop file here</span>
                        <button color="primary" class="d-block btn btn-primary uploadbutton" (click)="imgfileUpload.click()">
                            Click Here to Upload
                        </button>
                    </div>                    
                 </div>
                 <p class="fw-bold mb-2" *ngIf="imageFileName !==''">{{imageFileName}}<p>
                </div>
              <div class="form-group mb-2">
                <label for="uploadimg" class="text-bold">Upload Robot<span>*</span></label>
                <p class="my-2">Only .stl file format accept</p>
                <div class="file-upload mb-2">
                    <input type="file" class="file-input-img" accept="stl" #stlfileUpload 
                    formControlName='uploadRobotstl' (change)="stlfileupload($event)">
                    <div class="uploadbuttoncontainer d-flex flex-column align-items-center justify-content-between">
                        <span>Drag and Drop file here</span>
                        <button color="primary" class="d-block btn btn-primary uploadbutton" (click)="stlfileUpload.click()">
                            Click Here to Upload
                        </button>
                    </div>
                    <p class="fw-bold mt-2" *ngIf="stlFileName !==''">{{stlFileName}}<p>
                 </div>
              </div>
              <div class="d-flex align-items-center justify-content-end">
                  <button class="btn btn-light cancel noborder " (click)="showRobotModel=false">Cancel</button>
                  <button class="btn btn-primary submit ml-4 noborder">Submit</button>
              </div>
        </form>

    </div>
</app-model>
<div class="grid-container" id="robotcontainer">
    <div class="grid-header">
        <app-header></app-header>
    </div>
    <div class="grid-main">
        <div class="inner-wrapper">
            <div class="sidebar">
                <app-sidebar></app-sidebar>
            </div>
            <div class="maincontent">
                <div class="pb-20 pl-25 pt-20" [ngClass]="{'d-flex align-items-center justify-content-between' : isAdmin }">
                    <h3 class="d-inline-flex align-items-center">
                        <span class="f-16 bold">{{isAdmin? 'List of Robots' : 'Select Robot'}}
                            <app-tooltip>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore iusto reiciendis laborum nisi porro, voluptate pariatur impedit illo cum velit rerum corrupti quos ratione ad. Animi, amet quaerat officiis molestias id nulla ad non cumque. Adipisci itaque
                                sint saepe, iusto accusantium fugiat quod doloremque. Alias, fugit. Repudiandae tempore iusto tempora.
                            </app-tooltip>
                        </span>
                    </h3>
                    <div class="" *ngIf="isAdmin">
                        <div class="pr-20 admincontrols">
                            <button (click)="showModel(true)">
                                <mat-icon class="material-icons-outlined color" alt="faq">add</mat-icon>
                                <span class="f-13" >Add Robot</span> 
                            </button>
                            <button (click)="showModel(true)">
                                <mat-icon class="material-icons-outlined color" alt="faq">add</mat-icon>
                                <span class="f-13" >Add Gripper</span>
                            </button>
                            <button (click)="showModel(true)">
                                <mat-icon class="material-icons-outlined gray" alt="faq">edit</mat-icon>
                                <span class="f-13 colorgray">Edit Gripper</span>
                            </button>
                            <button (click)="showModel(true)">
                                <mat-icon class="material-icons-outlined gray" alt="faq">delete</mat-icon>
                                <span class="f-13 colorgray">Delete Gripper</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="innermaincontainer pl-20">
                    <div class="robotcontainer border-1 pb-20 ">
                        <ng-container *ngFor="let robot of robotDetails; let i = index">
                            <app-robotdetails [details]="robot" class="pr-10"></app-robotdetails>
                        </ng-container>
                    </div>
                </div>
                <app-mainfooter *ngIf="!isAdmin" [showdeploy]="false" (movetonext)="routeService.movetonextpage('gripper')" (movetoback)="routeService.movetonextpage('project-details')">
                </app-mainfooter>
            </div>
        </div>
    </div>
</div>