:host {
    * {
        font-family: Roboto;
        font-size: 11px;
    }
    h3 {
        font-size: 15px;
        font-weight: bold;
    }
    .footerpanel {
        button {
            min-width: 70px;
            min-height: 20px;
            opacity: 1;
            border-radius: 3px;
            font-size: 11px;
        }
        .save {
            background: #35AFF8 0% 0% no-repeat padding-box;
            border: 1px solid #35AFF8;    
            color: white;
        }
        .cancel {
            background: #FFFFFF 0% 0% no-repeat padding-box;
            border: 1px solid #333333;
        }
    }
}