:host {
    &::ng-deep {
        #grippermaincontainer footer .buttoncontainer {
            padding-right: 30px;
        }
    }
    * {
        font-family: Roboto;
        font-size: 11px;
    }
    h3 {
        font-size: 15px;
        font-weight: bold;
    }
    .wrappercontainer {
        position: relative;
        .gripperContainer {
            position: absolute;
            height: 100%;
            background-color: #333333;
            top: 50px;
            float: left;
            width: 100%;
        }
    }
    .innermaincontainer {
        display: grid;
        grid-template-columns: 100%;
        height: calc(100% - 110px);
        overflow: auto;
    }
    .grippercontainer {
        max-height: 480px;
    }
    .card {
        width: 261px;
        height: 270px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border: 1px solid #E3E3E3;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px 10px 20px 10px;
        margin: 0px 11px;
        margin-bottom: 10px;
        p {
            margin: 0;
        }
    }
    .margn {
        padding: 0px 15px !important;
    }
    .brdr {
        // border-bottom: 1px solid #80808059;
        width: 167px !important;
        height: 180px !important;
    }
}

.widthbtm {
    width: 100% !important;
    padding: 0px 0px 0px 0px !important;
}

input[name="selected"] {
    accent-color: green;
}

.radiobtn {
    width: 20px;
    height: 20px;
}

.bordertop {
    border-top: 1px solid #80808021;
}

.circle {
    background-color: inherit;
    font-size: 50px;
    color: #35AFF8;
}

.cardname {
    text-align: left;
    font: normal normal normal 12px Roboto;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.brdrheight {
    height: 480px;
}