:host {
    * {
        font-family: Roboto;
        font-size: 11px;
    }
    h3 {
        font-size: 15px;
        font-weight: bold;
    }
    .wrappercontainer {
        position: relative;
        .gripperContainer {
            position: absolute;
            height: 100%;
            background-color: #333333;
            top: 50px;
        }
    }
    .innermaincontainer {
        display: grid;
        grid-template-columns: 100%;
        height: calc(100% - 100px);
        overflow: auto;
    }
    .grippercontainer {
        max-height: 450px;
    }
    .card {
        width: 150px;
        height: 200px;
        padding: 10px;
        position: relative;
        p {
            margin: 0;
        }
    }
}