<!-- <div class="main-wrapper">
    <app-header></app-header>
    <app-sidebar></app-sidebar>
    <main>
        <app-layer></app-layer>
    </main>    
</div> -->

<div class="grid-container">
    <div class="grid-header">
        <app-header></app-header>
    </div>
    <div class="grid-main">
        <div class="inner-wrapper">
            <div class="sidebar">
                <app-sidebar></app-sidebar>
            </div>
            <div class="maincontent">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>
