:host {
    $activeColor: #35AFF8;
    .sidebar {
      padding: 10px;
      .sidebarheadding {
          font: normal normal normal 12px/18px Wipro Akkurat TT;
          letter-spacing: 0px;
          color: #9EA0A5;
          opacity: 1;
      }
    }
    nav {
      margin-top: 10px;
      list-style: none;
      ul {
        counter-reset: my-sec-counter;
        padding: 10px;
        margin: 0;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        max-width: 100%;
        text-align: left;
        flex-basis: 0;
        position: absolute;
      }
      li {
        // position: relative;
        padding: 5px 0;
        display: block;
        z-index: 0;

        a  {
          // margin-left: 35px;
          // background-color: #FFFFFF;
          // width: 20px;
          // height:20px;
          // display: flex;
          // border: 0;
          // border-radius: 100%;
          // align-items: center;
          // justify-content: center;
          // margin: 0;
          // &.active {
          //     background-color: $activeColor;
          //     color: #FFFFFF;
          // }
        }
        &::before {
          counter-increment: my-sec-counter;
          content:counter(my-sec-counter);
          width: 30px;
          height: 30px;
          border: 1px solid red;
          border-radius: 50%;
          background-color: white;
          position: absolute;
          margin-right: 20px;
          text-align: center;
          z-index: -1;
        }
      }
    }
  }
