:host {
    $activeColor: #35AFF8;
    .sidebar {
      padding: 10px;
      .sidebarheadding {
          font: normal normal normal 12px/18px Wipro Akkurat TT;
          letter-spacing: 0px;
          color: #9EA0A5;
          opacity: 1;
      }
    }
    nav {
      margin-top: 10px;
      list-style: none;

      ul {
        counter-reset: my-sec-counter;
        position: absolute;
        padding: 0 0 0 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        list-style: none;
      }

      li {
        z-index: 0;
        font-size: 14px;
        margin: 10px 0 10px 0;
        
        &:hover::before {
          background-color: $activeColor;
          color: white;          
        }
        .active {
          background-color: $activeColor;
          padding: 5px;
          border-radius: 3px;
        }

        a {
          text-decoration: none;
          color: white;
          font-size: 12px;
          &:hover {
            padding: 5px;
            background-color: $activeColor;
            border-radius: 3px;
          }
        }

        &::after {
          content: "";
          height: 20px;
          width: 1px;
          position: absolute;
          display: block;
          background-color: aliceblue;
          left: 29px;
        }

        &::before {
          background-color: white;
          counter-increment: my-sec-counter;
          content: counter(my-sec-counter);
          width: 20px;
          height: 20px;
          border: 0px;
          border-radius: 50%;
          margin-right: 10px;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          font-size: 12px;
        }
        
        &:last-child::after {
          height: 0;
        }
      }
      .error::after,
      .error::before {
        background-color: red;
      }

      .error::before {
        color: white;
        content: '!';
        font-weight: 600;
      }
      .completed::before {
        background-color:limegreen;
        content: "\2713";
        color: white;
        font-weight: 600;
      }

      .active::after {
        background-color: $activeColor;
      }
      .active::before {
        background-color: $activeColor;
        color: white;
      }
    }
  }
