<div class="grid-container" id="projectdetailcontainer">
    <div class="grid-header">
        <app-header></app-header>
    </div>
    <div class="grid-main">
        <div class="inner-wrapper">
            <div class="sidebar">
                <app-sidebar></app-sidebar>
            </div>
            <div class="maincontent">
                <div id="projectdetailcontainer" class="calibration pad20">
                    <!-- <app-model *ngIf="model" (closeModelEmit) = "showModel($event)">Test;</app-model> -->
                    <h3 class="f-16  bold mb-20">Scanner Robot Calibration Module</h3>
                    <div class="col-sm-12 col-xl-12 cards background_template">
                        <div class="container-lg col-sm-12 col-xl-12">
                            <span class="col-sm-12 col-xl-12">
                <span class="col-sm-12 col-xl-12 floatleft">
                  <form #f="ngForm" 
                    class="col-sm-12 col-xl-12 example-form mb-10 floatleft"
                  >
                    <p class="col-sm-12 col-xl-12 f-14 mb-10">
                      Please enter the scanner robot transformation matrix
                      <app-tooltip>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    </app-tooltip>
                    </p>
                    <div class="form-group">
                      <span class="" *ngFor="let n of numSequence(4)">
                        <span class="col-sm-12 col-xl-12 floatleft">
                          <span class="col-sm-3 col-xl-3 floatleft mb-10">
                            <span class="col-sm-12 col-xl-12 floatleft pr-15">
                              <input type="name" class="form-control" name="name" ngModel></span></span>
                            <span class="col-sm-3 col-xl-3 floatleft mb-10">
                                <span class="col-sm-12 col-xl-12 floatleft  pr-15">
                                  <input type="name" class="form-control" name="name" ngModel></span></span>
                            <span class="col-sm-3 col-xl-3 floatleft mb-10">  
                                <span class="col-sm-12 col-xl-12 floatleft  pr-15">
                                  <input type="name" class="form-control" name="name" ngModel></span></span>
                            <span class="col-sm-3 col-xl-3 floatleft mb-10">
                                <span class="col-sm-12 col-xl-12 floatleft  pr-15">
                                  <input type="name" class="form-control" name="name" ngModel></span></span>
                            </span>
                            </span>

                        </div>
                        <div class="buttoncontainer mt-10 floatright">

                            <button class="calibrationbtns mr-10" (click)="onSubmit()">Reset All</button>
                            <button class="calibrationbtns mr-10">
          Download Transformation
        </button>
                            <button class="calibrationbtns mr-10">
                              <!-- <input type="file"  accept="image/png, image/jpeg" > -->
                              <div class="fileUploadWrap">
                                <input type="file" name="file" class="form-control" id="hidden_upload_file_chatting">
                              </div>
                             
          Upload Transformation from file
        </button>
                        </div>
                        </form>

                        </span>
                        </span>
                    </div>
                </div>

            </div>
            <app-mainfooter (movetonext)="calibrationData()" (movetoback)="routeService.movetonextpage('environment')" submitname="Execute Bin Picking"></app-mainfooter>
        </div>
    </div>
</div>
</div>