:host {
    .cardcontainer {
        display: inline-flex;
        gap: 20px;
        flex-wrap: wrap;        
    }
    .circle {
        background-color: inherit;
        font-size:50px;                
        color: #35AFF8;
    }
    .card {
        width: 125px;
        height: 125px;
        background: #F7F8F8 0% 0% no-repeat padding-box;
        border: 1px dashed #707070;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        &:focus {
            border: 1px dashed #707070;
        }
        img {
            width: 35px;
            height: 35px;
        }
        .cardname {
            text-align: left;
            font: normal normal normal 12px Roboto;
            letter-spacing: 0px;
            color: #000000;
            opacity: 1;
        }

        &:hover {
            background: #EFEFEF 0% 0% no-repeat padding-box;
            box-shadow: 0px 0px 12px #00000029;
            border: 2px dashed #35AFF8;
            border-radius: 10px;
        }
        
    }
}