<div class="cardcontainer mr-15">
    <button class="card" (click)="openModal()">
    <span class="col-xl-12 col-sm-12 col-xs-12 f-12  bold ">
        <span  class="col-xl-6 col-sm-6 col-xs-6 f-12  bold ">Object 1</span>
        <span  class="col-xl-6 col-sm-6 col-xs-6 f-12  bold ">
    <mat-icon class="material-icons-outlined check" alt="faq">
        edit
    </mat-icon>
    <mat-icon class="material-icons-outlined check" alt="faq">
        delete
    </mat-icon>
    <mat-icon class="material-icons-outlined check" alt="faq">
        edit
    </mat-icon>
    <label class="switch">
            <input type="checkbox" name="usertype" formControlName="isAdmin" />
            <span class="slider round"></span>

</label>
</span>
    </span>
    <span class="col-xl-12 col-sm-12 col-xs-12 f-12  bold ">
        <span class="">
            <mat-icon class="material-icons-outlined check" alt="faq">
                edit
            </mat-icon> 
        </span>
    </span>
</button>
</div>
<div class="cardcontainer">
    <button class="card" (click)="openModal()">
        <div class="circle">+</div>
        <span class="cardname">{{addText}}</span>
    </button>
</div>