.example-full-width {
    border: 1px solid gray;
    padding: 5px;
    font-size: 14px;
    width: 400px;
    height: 34px;
    border-radius: 5px;
}

.background_template {
    background: white;
    border: 1px solid #80808059;
    padding: 7px;
}

.pad20 {
    padding: 20px;
}