<div id="projectdetailcontainer" class="pad20">
    <!-- <app-model *ngIf="model" (closeModelEmit) = "showModel($event)">Test;</app-model> -->
    <h3 class="f-18 bold">Create New Project</h3>
    <div class="cards background_template">
        <div class="container-lg col-sm-12">
            <span class="col-sm-12 f-14">Project ID</span>
            <p class="col-sm-12 f-14 bold">33431276</p>
            <p class="col-sm-12 f-14 mb-0"> Project Name</p>
            <form class="example-form mb-10">
                <mat-form-field class="example-full-width" appearance="fill">
                    <!-- <mat-label>Favorite food</mat-label> -->
                    <input matInput placeholder="Ex. Pizza" value="Sushi">
                </mat-form-field>
            </form>
            <span class=" f-14 mt-10"> Project Description</span>
        </div>
    </div>
    <app-mainfooter></app-mainfooter>
</div>