:host {
    &::ng-deep {
        #projectdetailcontainer footer .buttoncontainer {
            padding-right: 0px;
        }
    }
    .example-full-width {
        border: 1px solid #181818;
        padding: 5px;
        font-size: 14px;
        width: 400px;
        height: 34px;
        border-radius: 2px;
    }
    .background_template {
        background: white;
        border: 1px solid #707070;
        padding: 7px;
    }
    .pad20 {
        padding: 20px;
    }
    /*Container, container body, iframe*/
    .mce-tinymce,
    .mce-container-body,
    #code_ifr {
        min-height: 100% !important;
    }
    /*Container body*/
    .mce-container-body {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }
    /*Editing area*/
    .mce-container-body .mce-edit-area {
        position: absolute;
        top: 69px;
        bottom: 37px;
        left: 0;
        right: 0;
    }
    /*Footer*/
    .mce-tinymce .mce-statusbar {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }
    .tox-statusbar {
        display: none !important;
    }
}

.innermaincontainer {
    display: grid;
    grid-template-columns: 100%;
    height: calc(100% - 110px);
    overflow: auto;
}