<div class="grid-container">
    <div class="grid-header">
        <app-header></app-header>
    </div>
    <div class="grid-main">
        <div class="inner-wrapper">
            <div class="sidebar">
                <app-sidebar></app-sidebar>
            </div>
            <div class="maincontent">
                <div id="projectdetailcontainer" class="pad20">
                    <!-- <app-model *ngIf="model" (closeModelEmit) = "showModel($event)">Test;</app-model> -->
                    <h3 class="f-16 bold mb-20">Create New Project</h3>
                    <div class="innermaincontainer cards background_template mb-30 pl-15 pr-15 pt-20 pb-20">
                        <div class="container-lg col-sm-12 p-0">
                            <span class="col-sm-12 f-14">Project ID</span>
                            <app-tooltip>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            </app-tooltip>
                            <p class="col-sm-12 f-14 bold">{{project_id}}</p>
                            <p class="col-sm-12 f-14 mb-10"> Project Name<span class="colorred">*</span>
                                <app-tooltip>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                </app-tooltip>

                            </p>

                            <form class="example-form mb-20">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <!-- <mat-label>Favorite food</mat-label> -->
                                    <input [(ngModel)]="projectName" name="projectName" matInput placeholder="Ex. Pizza">
                                </mat-form-field>
                            </form>
                            <p class=" f-14 mt-10 mb-10"> Project Description
                                <app-tooltip>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                </app-tooltip>

                            </p>

                            <span>
                          
                      <editor 
                        apiKey="9x98p6u4qeidajuf25isv052g0lgdwnq5njs2ryw1m03mecx" 
                        plugins="code" outputFormat="text" class="mb-30" style="height: 180px !important;"
                        [(ngModel)]="projectDescription"
                        [init]="{
                            height: 200,
                            base_url: '/tinymce', 
                            suffix: '.min' ,
                            element_format: 'html',
                          plugins: [
                          'advlist autolink lists link image charmap print preview anchor',
                            'searchreplace visualblocks code fullscreen',
                            'insertdatetime media table paste code help wordcount'
                          ],
                          toolbar: 'undo redo | formatselect | ' +
                          'bold italic backcolor | alignleft aligncenter ' +
                          'alignright alignjustify | bullist numlist outdent indent | ' +
                          'removeformat | help',
                          content_style: 'body { font-family:Helvetica,Arial,sans-serif; font-size:14px }'  }"
                        ></editor> 
                   
                  </span>
                        </div>
                    </div>
                    <app-mainfooter (buttonpopupSelected)="openpop()" [showBack]="false" [showdeploy]="false" (movetonext)="createProjectDetails()" (movetoback)="routeService.movetonextpage('project-details')" submitname="Create and Continue">

                        <!-- <app-mainfooter [showBack]="false" [showdeploy]="false" (movetonext)="createProjectDetails()" (movetoback)="routeService.movetonextpage('project-details')" submitname="Create and Continue">
                        </app-mainfooter> -->

                    </app-mainfooter>
                    <!-- <app-deletepopup *ngIf="showClosePopup" customclass="closemodal">
                        <div>
                           
                        </div>
                    </app-deletepopup> -->
                    <app-deletepopup headertitle="Save Progress" *ngIf="showClosePopup" customclass="closemodal" (closeModelEmit)="showClosePopup=false">

                        <label for="uploadobject" class="mb-3 f-12">Do you want to save this project to process later?</label>
                        <div class="modelfooter">
                            <button (click)="showClosePopup=false">NO</button>
                            <button (click)="showClosePopup=false" class="ml-10">YES</button>
                        </div>
                    </app-deletepopup>
                </div>
            </div>
        </div>
    </div>