<div class="grid-container">
    <div class="grid-header">
        <app-header></app-header>
    </div>
    <div class="grid-main">
        <div class="inner-wrapper">
            <div class="sidebar">
                <app-sidebar></app-sidebar>
            </div>
            <div class="maincontent">
                <div id="projectdetailcontainer" class="pad20">
                    <!-- <app-model *ngIf="model" (closeModelEmit) = "showModel($event)">Test;</app-model> -->
                    <h3 class="f-18 bold mb-20">Connectivity</h3>
                    <div class="col-sm-12 col-xl-12 cards background_template mb-20">
                        <div class="container-lg col-sm-12 col-xl-12 ">

                            <span class="col-sm-12 col-xl-12">
                                <span class="col-sm-5 col-xl-5 floatleft">
                            <form class="col-sm-8 col-xl-8 example-form mb-10 floatleft">
                                <p class="col-sm-12 col-xl-12 f-14 mb-0"> Scanner
                                <mat-icon class="icon_size example-tab-icon uploadiconss"> info
                                </mat-icon></p>
                                <mat-form-field class="col-sm-6 col-xl-6 example-full-width floatleft" appearance="fill">
                                    <input matInput placeholder="Ex. Pizza" value="123.123.123.123">
                                </mat-form-field>
                            </form>
                            <span class="col-sm-4 col-xl-4 floatright button_container">
                                <button class=" submit  mr-10">Connect</button>
                            </span>

                            </span>
                            <span class="col-sm-7 col-xl-7 floatleft rightcontainer">
                                <span class="col-sm-12 f-14">Connection status</span>
                            <p class="col-sm-12 f-16 bold">
                                <mat-icon class="iconsize_verify example-tab-icon uploadiconss"> done
                                </mat-icon>Connected</p>
                            </span>
                            </span>

                            <span class="col-sm-12 col-xl-12 floatleft">
                                <span class="col-sm-5 col-xl-5 floatleft">
                            <form class="col-sm-8 col-xl-8 example-form mb-10 floatleft">
                                <p class="col-sm-12 col-xl-12 f-14 mb-0"> Robot
                                <mat-icon class="icon_size example-tab-icon uploadiconss"> info
                                </mat-icon></p>
                                <mat-form-field class="col-sm-6 col-xl-6 example-full-width floatleft" appearance="fill">
                                    <input matInput placeholder="Ex. Pizza" value="123.123.123.123">
                                </mat-form-field>
                            </form>
                            <span class="col-sm-4 col-xl-4 floatright button_container">
                                <button class=" submit  mr-10">Connect</button>
                            </span>

                            </span>
                            <span class="col-sm-7 col-xl-7 floatleft rightcontainer">
                                <span class="col-sm-12 f-14">Connection status</span>
                            <p class="col-sm-12 f-16 bold">
                                <mat-icon class="iconsize_verify example-tab-icon uploadiconss"> done
                                </mat-icon>Connected</p>
                            </span>
                            </span>
                        </div>
                    </div>
                    <app-mainfooter (movetonext)="routeService.movetonextpage('executebin')" (movetoback)="routeService.movetonextpage('calibration')" submitname="Execute Bin Picking"></app-mainfooter>

                </div>
            </div>
        </div>
    </div>
</div>