<div class="grid-container">
    <div class="grid-header">
        <app-header></app-header>
    </div>
    <div class="grid-main">
        <div class="inner-wrapper">
            <div class="sidebar">
                <app-sidebar></app-sidebar>
            </div>
            <div class="maincontent">
                <div id="projectdetailcontainer" class="pad20">
                    <!-- <app-model *ngIf="model" (closeModelEmit) = "showModel($event)">Test;</app-model> -->
                    <h3 class="f-16 bold mb-20">Connectivity</h3>
                    <div class="cards background_template mb-20">
                        <div class="mb-20">
                            <p class="col-sm-12 col-xl-12 f-12 pb-6 m-0">Scanner
                                <app-tooltip>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                </app-tooltip>
                            </p>
                            <div class="d-flex align-items-center">
                                <mat-form-field class="example-full-width mr-20" appearance="fill">
                                    <input matInput mask="IP" name="scanner" placeholder="Scanner IP" [(ngModel)]="scanner"
                                    pattern="^(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$">
                                </mat-form-field>
                                <div class="button_container mr-40">
                                    <button class="submit" (click)="getConnect('scanner')">Connect</button>
                                </div>
                                <div class="ml-20 d-flex align-items-start flex-column" *ngIf="showScannerStatus">
                                    <p class="m-0 f-12">Connection status</p>
                                    <p class="m-0 f-12 bold" *ngIf="!setScannerError">
                                        <mat-icon class="iconsize_verify example-tab-icon uploadiconss">done</mat-icon>Connected
                                    </p>
                                    <p class="m-0 f-12 bold" *ngIf="setScannerError">
                                        <mat-icon class="iconsize_verify icon_warning">error</mat-icon>Disconncted
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="mb-20">
                            <p class="col-sm-12 col-xl-12 f-12 pb-6 m-0"> Robot
                                <app-tooltip>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</app-tooltip>
                            </p>
                            <div class="d-flex align-items-center">
                                <mat-form-field class="mr-20 example-full-width floatleft" appearance="fill">
                                    <input matInput name="robot" placeholder="Enter Robot IP" [(ngModel)]="robot"
                                    pattern="^(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$">
                                </mat-form-field>
                                <div class="button_container mr-40">
                                    <button class="submit" (click)="getConnect('robot')">Connect</button>
                                </div>
                                <div class="ml-20 d-flex align-items-start flex-column" *ngIf="showRobotStatus">
                                    <p class="m-0 f-12">Connection status</p>
                                    <p class="m-0 f-12 bold" *ngIf="!setRobotError">
                                        <mat-icon class="iconsize_verify example-tab-icon uploadiconss">done</mat-icon>Connected
                                    </p>
                                    <p class="m-0 f-12 bold" *ngIf="setRobotError">
                                        <mat-icon class="iconsize_verify icon_warning">error</mat-icon>Disconncted
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>                    
                    <app-mainfooter [showdeploy]="false" (movetonext)="routeService.movetonextpage('executebin')" (movetoback)="routeService.movetonextpage('calibration')" submitname="Execute Bin Picking"></app-mainfooter>
                </div>
            </div>
        </div>
    </div>
</div>