/* You can add global styles to this file, and also import other style files */

html {
    height: 100%;
    overflow: hidden;
}

body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    height: 100%;
    scrollbar-width: thin;
    overflow: hidden;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,wght@0,200;1,100&display=swap');
* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    list-style-type: none;
    box-sizing: border-box;
    text-decoration: none;
    //font-family: 'Poppins', sans-sarif;
    font-family: 'Roboto', serif;
}

h1,
h2,
h3,
h4,
h5 {
    padding: 0;
    margin: 0 !important;
}

.d-flex {
    display: flex;
    align-items: center;
}

.wrappercontainer {
    padding: 10px;
    display: grid;
    h3 {
        // margin-bottom: 10px;
        display: flex;
        align-items: center;
        height: 5vh;
    }
    .cards {
        height: 72vh;
        margin-top: 5px;
        max-height: 100%;
        overflow: auto;
    }
}

.cards .mat-form-field-appearance-fill .mat-form-field-flex {
    border-radius: 4px 4px 0 0;
    padding: 0em !important;
}

img[alt='info'] {
    object-fit: cover;
    margin-left: 5px;
    width: 14px;
    height: 14px;
}

// .tip {
//     border-radius: 8px;
//     position: absolute;
//     display: block;
//     color: white;
//     background-color: black;
//     padding: inherit;
// }
.grid-container {
    // padding: 0 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 1px;
    .grid-header {
        height: 50px;
        position: relative;
    }
    .grid-main {
        width: 100%;
        height: calc(100vh - 0px);
        background-color: lightgray;
        top: 52px;
        left: 0;
        .inner-wrapper {
            display: grid;
            grid-template-columns: 200px auto;
            grid-gap: 10px;
            gap: 1px;
            height: inherit;
            .sidebar {
                background: #21386E 0% 0% no-repeat padding-box;
            }
            .maincontent {
                background: #F7F8F8 0% 0% no-repeat padding-box;
            }
        }
    }
}

// .rightside .mat-form-field-appearance-outline .mat-form-field-outline {
//     width: 405px !important;
//     height: 36px !important;
// }
.usename .mat-form-field-infix {
    height: 30px;
}

.searchfield .mat-form-field-infix {
    border: 1px solid gray !important;
    border-radius: 6px !important;
    padding-left: 10px !important;
    width: 236px !important;
    height: 30px !important;
}

.searchfield .mat-form-field-flex {
    padding: 0px !important;
}

.background_template {
    .mat-icon-button {
        margin: 16px 16px;
        width: 32px;
        height: 32px;
        line-height: 0px;
    }
    .mat-paginator-container {
        justify-content: flex-start !important;
    }
    .mat-paginator-icon {
        width: 21px;
    }
}

.infoicon {
    font-size: 14px;
    margin-left: 7px;
}

.colorred {
    color: red;
}

.tox .tox-menubar {
    display: none !important;
}

.tox-tinymce {
    border: 1px solid #707070 !important;
    border-radius: 0px !important;
}

.align-items-center .mat-form-field-appearance-fill .mat-form-field-flex {
    padding: 0 !important;
}

.tox-statusbar {
    display: none !important;
    pointer-events: none !important;
}

.mat-tab-label {
    opacity: 1 !important;
}

.mat-tab-label {
    background: #CCCCCC;
    margin: 0px 20px 0px 0px;
    height: 33px !important;
    font-size: 12px !important;
    padding: 0 0px !important;
    min-width: 80px !important;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.mat-paginator-container {
    justify-content: space-between !important;
    padding: 0 !important;
    .mat-paginator-range-label::before {
        content: "Showing";
    }
}

.modelfooter {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    button {
        min-width: 74px;
        border-radius: 5px;
        border: 1px solid;
        padding: 3px !important;
        font-size: 12px;
        &:first-child {
            background-color: #fff;
            color: #333333;
        }
        &:last-child {
            background-color: #35AFF8;
            border: 1px solid #35AFF8;
            color: #FFFFFF;
        }
    }
}

stl-model-viewer {
    width: 100%;
    height: 100%;
    display: block;
}

.uploadfilename {
    width: 40%;
    height: 35px;
    // color: #FFFFFF;
    background-color: lightgray;
    font-size: 14px;
}

.enternewpassword .mat-form-field-appearance-outline .mat-form-field-outline {
    top: 0em !important
}

.mat-column-id {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 8% !important;
    width: 8% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.mat-column-progress {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 20% !important;
    width: 20% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.mat-column-name {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 30% !important;
    width: 30% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.mat-column-status {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 25% !important;
    width: 25% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.mat-column-action {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 17% !important;
    width: 17% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.dotcolrgreen {
    width: 10px;
    height: 10px;
    background-color: #70BF4B;
    border-radius: 6px;
    margin-right: 10px;
}

.dotcolrorange {
    width: 10px;
    height: 10px;
    background-color: #E57A2D;
    border-radius: 6px;
    margin-right: 10px;
}

// .mat-paginator-page-size {
//     display: none !important;
// }
// .mat-paginator-range-label {
//     margin: 0 32px 0 0px !important;
// }
::ng-deep .mat-select-panel {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 300px;
    width: 100%;
}
.card {
    width: 170px;
    // min-height: 300px;
    height: auto;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #E3E3E3;
    border-radius: 10px;
    padding: 10px;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // padding: 30px 10px 20px 10px;
    margin: 0px 10px;
    // margin-bottom: 10px;
    text-align: left;
    justify-content: center;
    p {
        margin: 0;
    }
}
.card:hover,
.card:focus {
    box-shadow: 0px 0px 12px #00000042;
    border: 2px dashed #35AFF8;
    border-radius: 10px;
}
