<div class='addgripper'>
    <form [formGroup]='addGripper' (ngSubmit)="onSubmit($event)">
        <!-- <div class="form-group mb-4">
            <label for="robot" class="mb-2">Select Robot<span>*</span></label>
            <select formControlName='selectrobot' name="robot" id="robot" class="form-control">
                <option value="" selected></option>
            </select>
        </div> -->
        <input type="hidden" name="gripperid" id="gripperid" value="" formControlName="id" />
        <div class="form-group mb-4">
            <label for="grippername" class="mb-2">Gripper Name<span>*</span></label>
            <input formControlName='grippername' type="text" name="grippername" id="grippername" class="form-control" />
        </div>

        <div class="form-group mb-2" *ngIf="imageFileName ===''">
            <label for="uploadimg">Upload Gripper Image<span>*</span></label>
            <p class="my-2">Only .jpg, .png file format accept</p>
            <div class="file-upload mb-2">
                <input type="file" class="file-input-img" accept="image/png, image/jpeg"
                    formControlName='uploadgripperimage' #imgfileUpload (change)="imagefileupload($event)" />
                <div class="uploadbuttoncontainer d-flex flex-column align-items-center justify-content-between">
                    <span>Drag and Drop file here</span>
                    <button color="primary" class="d-block btn btn-primary uploadbutton m-0"
                        (click)="imgfileUpload.click()">
                        Click Here to Upload
                    </button>
                </div>
            </div>            
        </div>
        <p class="uploadfilename d-flex align-content-center m-0 mb-2 justify-content-between" *ngIf="imageFileName !==''">
            <span class="fw-semibold mx-3">{{imageFileName}}</span>
            <button class="fileuploadclear" (click)="clearUpload('image')" >
                <img  class="imgclose" src="./assets/modalclose.svg"  />
            </button>
        </p>
        <div class="form-group mb-2" *ngIf="stlFileName ===''">
            <label for="uploadimg">Upload Gripper Image<span>*</span></label>
            <p class="my-2">Only .jpg, .png file format accept</p>
            <div class="file-upload mb-2">
                <input type="file" class="file-input-img" accept="image/png, image/jpeg"
                    formControlName='uploadgripperstl' #stlfileUpload (change)="stlfileupload($event)" />
                <div class="uploadbuttoncontainer d-flex flex-column align-items-center justify-content-between">
                    <span>Drag and Drop file here</span>
                    <button color="primary" class="d-block btn btn-primary uploadbutton m-0"
                        (click)="stlfileUpload.click()">
                        Click Here to Upload
                    </button>
                </div>
            </div>
        </div>
        <p class="uploadfilename d-flex align-content-center m-0 mb-2 justify-content-between" *ngIf="stlFileName !==''">
            <span class="fw-semibold mx-3">{{stlFileName}}</span>
            <button class="fileuploadclear" (click)="clearUpload('stl')" >
                <img  class="imgclose" src="./assets/modalclose.svg"  />
            </button>
        </p>
        <div class="d-flex align-items-center justify-content-end">
            <button class="btn btn-light cancel noborder " (click)="cancelModel()">Cancel</button>
            <button class="btn btn-light submit ml-4 noborder" disabled *ngIf="addGripper.status === 'INVALID'">Submit</button> 
            <button class="btn btn-primary submit ml-4 noborder" *ngIf="addGripper.status === 'VALID'">Submit</button>
        </div>
    </form>
</div>
