<div class="grid-container">
    <div class="grid-header">
        <app-header></app-header>
    </div>
    <div class="grid-main">
        <div class="inner-wrapper">
            <div class="sidebar">
                <app-sidebar></app-sidebar>
            </div>
            <div class="maincontent">
                <div id="objectcontainer" class="wrappercontainer p-20">
                    <app-model headertitle="Add New Gripper" *ngIf="model" (closeModelEmit)="showModel($event)">
                        <div id="newobjectform">
                            <label for="objectname">Object Name <sup>*</sup></label>
                            <input type="text" id="objectname" [(ngModel)]="objectName" />
                            <label for="description">Description</label>
                            <input type="text" id="description" [(ngModel)]="description" />
                            <label for="uploadobject" class="fw-bold mb-3">Upload Object Mess</label>
                            <label for="description" class="col-12 col-sm-12"> Only .stl file format accept</label>

                            <div id="drop_zone" ondrop="dropHandler(event);" ondragover="dragOverHandler(event);">
                                <p class="m-0 mb-1">Drag one or more files to this Drop Zone ...</p>
                                <label class="image-upload-container btn btn-bwm">
                                <span class="uploadbtn">
                                    <label class="labelupload">Select Image</label>
                                <input id="objectFile" Input type="file" accept="image/*" style="visibility: hidden;" (change)="onFileSelecetd($event)" />
                                </span>
                                </label>
                            </div>
                            <div class="modelfooter">
                                <button (click)="model=false">Cancel</button>
                                <button (click)="createObject()" class="mx-4 btn btn-primary">Save</button>
                            </div>
                        </div>
                    </app-model>
                    <h3 class="bold mb-20 f-16">Picked Object</h3>
                    <div class="cards">
                        <app-card addText="Add new object" (buttonSelected)="showModel($event)"></app-card>
                    </div>
                    <app-mainfooter [showdeploy]="false" (movetonext)="routeService.movetonextpage('environment')" (movetoback)="routeService.movetonextpage('grippertcp')" submitname="Submit and Continue">
                    </app-mainfooter>
                </div>
            </div>
        </div>
    </div>
</div>