:host {
    * {
        font-size: 12px;
    }
    sup {
        color: red;
        top: 0;
    }
    input {
        margin-top: 5px;
        margin-bottom: 5px;
    }
    #objectname,
    #description {
        display: block;
        width: 100%;
        height: 25px;
    }
    #description {
        height: 40px;
    }
    .modelfooter {
        margin-top: 10px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        button {
            min-width: 80px;
            border-radius: 5px;
            border: 1px solid;
            padding: 7px !important;
            &:first-child {
                background-color: #fff;
            }
            &:last-child {
                // background-color: #e3e3e3;
                border: none;
            }
        }
    }
    .uploadbtn {
        position: relative !important;
        left: 20px !important;
        bottom: 5px !important;
    }
    
    .labelupload {
        position: relative !important;
        left: 80px !important;
        color: #35AFF8;
        font-size: 14px;
        cursor: pointer;
    }
    
    .file-upload {
        height: 70px;
        border: 1px dashed gray;
        border-radius: 5px;
        position: relative;
    }
    
    .uploadbutton {
        background: transparent;
        border: 0;
        text-decoration: none;
        color: lightskyblue;
        padding: 0;
        margin: 0 10px;
    }
    
    .cancel {
        margin-right: 15px;
    }
    
    .submit {
        width: 90px;
    }
    
    .file-input-img {
        opacity: 0;
        width: 100%;
        height: 70px;
    }
    
    .uploadbuttoncontainer {
        position: absolute;
        transform: translate(-50%, 50%);
        top: 0;
        left: 50%;
        width: auto;
    }
    
    .fileuploadclear {
        border: 0 !important;
        background: transparent;
        margin-right: 10px;
    }
    
    .imgclose {
        width: 10px;
        height: 10px;
    }
    
    .innerboxview {
        background: #ECECED;
        width: 100%;
        height: 160px;
        position: relative;
    }
    
    .labelinner {
        position: absolute;
        right: 40%;
        top: 40%;
    }
}

