<app-model [headertitle]="modelTitle" *ngIf="model" (closeModelEmit)="showModel()">
    <form [formGroup]='addObject' (ngSubmit)="onSubmit($event)">
        <input type="hidden" name="objectid" id="objectid" value="" formControlName="project_id" />
        <div class="form-group mb-4">
            <label for="objectname">Object Name <sup>*</sup></label>
            <input formControlName='objectName' type="text" id="objectname" class="form-control" placeholder="Please enter Object name" />
        </div>
        <div class="form-group mb-4">
            <label for="description">Description</label>
            <input formControlName='description' type="text" id="description" class="form-control" placeholder="Please enter Object description" />
        </div>
        <div class="form-group mb-2" *ngIf="imageFileName ===''">
            <label for="uploadobject" class="fw-bold mb-2">Upload Object Mess</label>
            <label for="description" class="col-12 col-sm-12 mb-2"> Only .stl file format accept</label>
            <div class="file-upload mb-2">
                <input type="file" class="file-input-img" formControlName='object_file' accept=".stl" #imgfileUpload (change)="imagefileupload($event)" />
                <div class="uploadbuttoncontainer d-flex flex-column align-items-center justify-content-between">
                    <span>Drag and Drop file here</span>
                    <button type="button" color="primary" class="d-block btn btn-primary uploadbutton m-0" (click)="imgfileUpload.click()">
                        Click Here to Upload
                    </button>
                </div>
            </div>
        </div>
        <p class="uploadfilename d-flex align-content-center m-0 mb-2 justify-content-between" *ngIf="imageFileName !==''">
            <span class="fw-semibold mx-3">{{imageFileName}}</span>
            <button class="fileuploadclear" (click)="clearUpload('image')">
                <img  class="imgclose" src="./assets/modalclose.svg"  />
            </button>
        </p>
        <div *ngIf="imageFileName !==''" class="innerboxview">
            <span class="labelinner"> STL Viewer Placeholder</span>
        </div>
        <div class="modelfooter">
            <button type="button" class="btn btn-light border-0" (click)="model=false">Cancel</button>
            <button class="mx-4 btn btn-primary" disabled *ngIf="addObject.status === 'INVALID'">Save</button>
            <button class="mx-4 btn btn-primary" *ngIf="addObject.status === 'VALID'">Save</button>
        </div>
    </form>
</app-model>
<div class="grid-container">
    <div class="grid-header">
        <app-header></app-header>
    </div>
    <div class="grid-main">
        <div class="inner-wrapper">
            <div class="sidebar">
                <app-sidebar></app-sidebar>
            </div>
            <div class="maincontent">
                <div id="objectcontainer" class="wrappercontainer p-20">
                    <h3 class="bold mb-20 f-16">Picked Object</h3>
                    <div class="cards">
                        <app-card (editButtonSelected)="showModel('edit')" addText="Add new object" (buttonSelected)="showModel('add')"></app-card>
                    </div>
                    <app-mainfooter [showdeploy]="false" (movetonext)="routeService.movetonextpage('environment')" (movetoback)="routeService.movetonextpage('gripper')" submitname="Submit and Continue">
                    </app-mainfooter>
                </div>
            </div>
        </div>
    </div>
</div>